body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(249, 157, 238);
    text-align: center;
    margin:0;
    padding: 20%;
}

input[name=t1],input[name=t2]{
width: 270px;
padding: 12px;
margin:10px;
font-size:1.2em;
border: 4px solid #1c171a;
border-radius:8px;
background-color: aliceblue;

box-shadow: rgb(0, 0, 0)
}

input[name=resultat],input[name=t3] {
width: 270px;
padding: 12px;
margin: 50px;
font-size:1.2em;
border: 4px solid #1c171a;
border-radius:8px;
background-color: aliceblue;
color: #030303;
box-shadow: rgb(0, 0, 0)
}

button{ 
width: 94px;
padding: 12px;

font-size:1.2em;

border-radius:20px;
background-color: aliceblue;
color: #030303;

}



