
body{
    background-color: black;

}
.Z1{ 
    clear: both;
    text-align: center;
    margin-top: 15px;
    height: 50px;
    width: 100%;
    background-color: rgb(155, 14, 14)
    ;
    clear: both;

}

p{

color: black;
font-size: large;
}



.c1 {
width: 100%;
background-color:rgb(155, 14, 14) ;
height: 50px;
}


.c2 {
margin: 12px;
height: 550px;
width:400px;
background-color: rgb(155, 14, 14);
float: left;
margin-right:0px;
border-radius: 40px;
}

.d2 {
text-align: center;
height: 100px;
width: 350px;
background-color: rgb(225, 112, 96);
margin:auto;
border-radius: 30px;

}
 .e2 {
text-align: center;
height: 380px;
width:350px;
background-color: rgb(225, 112, 96);;
margin:auto;
border-radius: 30px;

 }

 .c3 {  
margin: 11px;
height: 550px;
width:400px;
background-color: rgb(155, 14, 14);
float: left;
margin-left: 150px ;
border-radius: 30px;

}

.d3 {
text-align: center;
height: 100px;
width: 350px;
background-color: rgb(225, 112, 96);
margin: auto ;
border-radius: 30px;

}

.e3 {
text-align: center;
height: 380px;
width:350px;
background-color: rgb(225, 112, 96);;
margin: auto ;
border-radius: 30px;

 }

.c4 { 
height: 550px;
width:400px;
background-color:rgb(155, 14, 14);
float: right;
margin: 10px;
float: right;
margin-left: 0px;
border-radius: 30px;

}

.d4 {
text-align: center;
height: 100px;
width: 350px;
background-color:rgb(225, 112, 96);
margin:auto;
border-radius: 30px;

}

.e4{
text-align: center;
height: 380px;
width:350px;
background-color:  rgb(225, 112, 96);
float: none;
margin:auto;
border-radius: 30px;

}

input[type="button"]{
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}


input[type="button"]:hover{
    background-color: brown;
}

img{border-radius: 3px;}